.form-group.is-invalid input,
.form-group.is-invalid select,
.form-group.is-invalid textarea {
    border-color: #fd397a;
}

.invalid-feedback {
    font-size: 1rem;
}

#toast-container>div {
    box-shadow: 0 0 5px #999999 !important;
}

.toast .toast-message {
    font-size: 1rem;
}



@media (max-width: 768px) {
    .kt-header__topbar-username {
        color: #636177 !important;
    }
}

.col-form-label .required {
    color: #db1430;
    font-size: 1.1rem;
    padding-left: 2px;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
    background-image: none;
}

.dataTables_wrapper .dataTable td .kt-checkbox {
    margin-bottom: 15px !important;
}

.exist_label,
.help-block-error,
.has-error {
    color: #fd397a !important;
    font-family: Poppins, Helvetica, sans-serif !important;
    font-weight: 400 !important;
}

.dataTables_wrapper .dataTable tr.active td {
    background: #f7f8fa;
}

.btn {
    border-radius: 5px !important;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item>.page-link {
    border-radius: 5px !important;
}

.table tr.heading>th {
    background-color: #eee !important;
}


/*
.btn-brand {
  background-color: #5D59A6;
  border-color: #5D59A6;
} */


/* offers  */

.discout-radio,
.gender-radio,
.isfree-radio {
    display: initial !important;
    margin-left: 10px !important;
}

.form-group.row .radio-list {
    margin-top: 10px;
}

.discount_value {
    margin-top: 5px;
}


/* system settings */

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.card-box {
    padding: 20px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.input-group i {
    color: #ffffff;
    line-height: 0;
    vertical-align: sub;
}

.sample-color-h3 {
    color: #ffffff;
    margin: 10px 0;
    font-size: 24px;
    font-family: 'Karla', sans-serif;
    line-height: 43px;
}

.sample-color-h1 {
    font-family: 'Karla', sans-serif;
    margin: 10px 0;
    line-height: 43px;
    color: #ffffff;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #188ae2 !important;
}

.bg-primary {
    background-color: #188ae2 !important;
}

.submit-btn-kiosk {
    text-align: right;
}

.kiosk-header-title {
    font-size: 14px;
    font-weight: 550;
    line-height: 22px;
    margin-top: 0px !important;
    margin-bottom: 30px !important;
    color: #505458;
    font-family: 'Karla', sans-serif;
    margin: 10px 0;
}

.kiosk-color-label {
    font-weight: 700 !important;
    font-family: 'Roboto', sans-serif;
    color: #797979;
    font-size: 14px !important;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}


/* Home page content */

.page-service-input {
    margin-bottom: 10px;
}

.page-service-row {
    margin-bottom: 50px !important;
}

.clock_custom i {
    color: #555;
}

.line_run .custom_portlet {
    box-shadow: none;
    background-color: transparent;
}

.line_run .custom_head {
    background-color: #fff;
    margin-bottom: 30px;
}

.custom_arrows {
    text-align: center;
    height: 37px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.custom_arrows i {
    text-align: center;
    font-size: 1.0rem !important;
    color: #000 !important;
}

.custom_body {
    background-color: #fff;
    margin-top: 10px;
    border-radius: 10px;
}

#kt_tabs_personal_address .kt-portlet__head {
    border-bottom: none !important;
}

.add_address_popup {
    margin-left: 5px !important;
}


/* .datetimepicker td {
  height: 35px !important;
} */

.footer-service-image-align {
    text-align: right !important;
    font-weight: 400;
}

.dataTables_wrapper .dataTables_info {
    padding-top: 7px !important;
}

#datatable_ajax_wrapper>.row>.col-sm-12 {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 10px 0 !important;
}

.kt-radio-inline input[type=radio] {
    position: unset !important;
    z-index: unset !important;
    opacity: unset !important;
}

.kt-radio-inline .kt-radio {
    padding-left: unset !important;
}

.kt-radio-inline {
    margin-top: 10px !important;
}

/*.select2-container--default .select2-selection--single .select2-selection__arrow {*/
/*    top: unset !important;*/
/*    margin-top: -5px;*/
/*}*/

.add_passenger_info_margin {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.popup_info_link {
    float: right;
    margin-top: 11px;
}

.popup-model-header-margin {
    margin-left: 11px !important;
    margin-right: 11px !important;
}


/* body {
    font-family: 'Roboto', sans-serif;
}

.table thead th {
    background-color: #f2f2f2;
}

body .dataTables_wrapper .dataTable td .kt-checkbox {
    margin-bottom: 0 !important;
}

@media (max-width: 1200px) {
    .table-wrapper {
        overflow-x: auto;
    }
    .table-inner {
        width: 1200px;
    }
    .search-btn {
        font-size: 0;
        padding: 7px 6px;
    }
    .submit-btn {
        font-size: 0;
        padding: 8px;
    }
    .search-btn i,
    .submit-btn i {
        margin-right: 0 !important;
    }
    .reset-btn {
        padding: 7px;
    }
}


Line Run Templates

.line_run_template .col-form-label {
    width: 20px;
    text-align: center;
}

@media (max-width: 1400px) {
    .line_run_template .input-group-text.clock_custom {
        padding: .65rem 0.5rem;
    }
}

@media (max-width: 1023px) {
    .line_run_template .col-form-label {
        margin: 0px 10px;
    }
    .line_run_template .custom_arrows {
        margin: 0px 10px;
    }
}*/

.form-group .select2-container {
    width: 100% !important;
}

.linerun_run_date_error,
.offers_e_status_error, .linerun_run_available_error {
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
    margin-top: .25rem;
    color: #fd397a;
}

/* Fix width checkbox and action coumn in listing */
#datatable_ajax th.no-sort.last {
    width: 100px !important;
}

#datatable_ajax th.no-sort.first-col-fix-width {
    width: 20px !important;
}

#datatable_ajax th {
    width: auto !important;
}

.no-sort {
    pointer-events: none !important;
}

.no-sort:after,
.no-sort:before {
    display: none !important;
    opacity: 0 !important;
    pointer-events: none !important;
    visibility: hidden !important;
}

.remove_disable_sorting_class_listing {
    padding-right: 0px !important;
}

.ticket_info {
    background: #f0f0f9;
    color: #000;
    display: flex;
    align-items: stretch;
    padding: 1rem 2rem;
    margin: 0 0 20px;
}

.reservation_log_details, .reservation_log_details th, .reservation_log_details td {
    border-color: #000;
    background-color: #fff;
}

.line_run_card table, .reservations_card table {
    font-weight: 600;
    margin-bottom: 0;
}

.line_run_card .table-bordered th, .reservations_card .table-bordered th {
    border: 1px solid #b5b5b5;
}

.line_run_card table .btn {
    border-color: #FFF;
    background-color: #FFF;
    color: #000;
}

.line_run_card table .btn i {
    color: #000 !important;
}

.line_run_card table .btn:hover {
    border-color: #000;
    background-color: #000;
    color: #fe9600;
}

.line_run_card table .btn:hover i {
    color: #fe9600 !important;
}

.line_run_card table tbody tr.active .btn {
    background-color: #5d59a6;
    border-color: #5d59a6;
}

.line_run_card table tbody>tr.active .btn i {
    color: #FFF !important;
}

.line_run_card table tbody tr.active td {
    background-color: #FFF !important;
    color: #000 !important;
}

.line_run_card table tbody tr.active td a {
    color: #000 !important;
}

.line_run_card table thead tr th:first-child {
    background-color: #FFF;
    border-color: #FFF;
    /* border-right-color: #b5b5b5; */
}

.line_run_card table tbody tr td:first-child {
    pointer-events: none;
    background-color: #FFF;
    border-color: #FFF;
    width: 15px;
    padding: 0.25rem 0 0 0;
}

.line_run_card table thead tr th:nth-child(1) {
    background-color: #FFF;
    border-color: #FFF;
    border-right-color: #b5b5b5;
}

.line_run_card table tbody tr td:nth-child(1) {
    /* pointer-events: none; */
    background-color: #FFF;
    border-color: #FFF;
    width: 15px;
    padding: 0.25rem 0 0 0;
}

table tr.hold-bg td {
    background-color: #f2dede;
    border: 1px solid #a94442 !important;
    color: #a94442;
}

table td.hold-bg td {
    background-color: #f2dede;
}

table tr.booked-bg td {
    background-color: #dff0d8;
    border: 1px solid #3c763d !important;
    color: #3c763d;
}

table tr.booked-bg td, table tr.pending-payment-bg td, table tr.callrequest-bg td, table tr.hold-bg td {
    /* border: 1px solid; */
}

table tr.pending-payment-bg td {
    background-color: #fcf8e3;
    border: 1px solid #8a6d3b !important;
    color: #8a6d3b;
}

table tr.callrequest-bg td {
    background-color: #d9edf7;
    border: 1px solid #31708f !important;
    color: #31708f;
}

.line_run_card table tbody td:last-child, .reservations_card table tbody td:last-child {
    min-width: 55px;
}

table td i.icon-class {
    color: #3c763d;
}

#line_run_card .table-responsive {
    height: 296px;
    overflow-y: auto;
}

#reservations_card .table-responsive {
    height: 304px;
    overflow-y: auto;
}

#reservations_card {
    z-index: 999;
}

.ui-draggable-dragging {
    z-index: 9999;
}

#line_run_card .upper,
#line_run_card .lower {
    position: absolute;
    height: 20px;
    width: 100%;
    z-index: 10;
}

#line_run_card .lower {
    bottom: 0;
}

.line_run_card .btn-group-sm>.btn.btn-icon, .line_run_card .btn.btn-icon.btn-sm, .reservations_card .btn-group-sm>.btn.btn-icon, .reservations_card .btn.btn-icon.btn-sm {
    height: 20px;
    width: 20px;
}

.line_run_card table td, .line_run_card table th, .reservations_card table td, .reservations_card table th {
    padding: 0.25rem;
    font-size: 12px;
    align-items: center !important;
}

.line_run_card .form-control, .reservations_card .form-control {
    padding: 0.25rem;
    line-height: 1;
    height: calc(0.5em + 1.3rem + 2px);
}

.lbl-private {
    background-color: #8950FC;
    color: #ffffff;
    padding: 5px;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 7px;
    width: 100%;
    text-align: center;
}

.lbl-pending {
    background-color: #F64E60;
    color: #ffffff;
    padding: 5px;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 7px;
    width: 100%;
    text-align: center;
}

.reservation-rate {
    padding: 2px 4px 4px 4px !important;
    margin-right: 2px;
    pointer-events: none;
}

.reservation-rate>i {
    padding-right: 0px !important;
    color: white;
}

.btn-grey-rate {
    background-color: #efefef;
    border-color: #efefef;
    color: #fff;
}

@media (max-width: 768px) {
    .kt-header__topbar-username {
        color: #636177 !important;
    }

    #send_status_email {
        margin-top: 5px;
    }
}

/* .week-view-copy {

} */
.btn-clear-week-view {
    padding: .10rem .20rem !important;
    line-height: 1.1 !important;
    float: right !important;
    margin-top: 7px;
}

.btn-clear-week-view i {
    font-size: .9rem !important;
    padding-right: 0px !important;
}

.copy-txt {
    font-size: 11px !important;
    vertical-align: top;
    line-height: 3;
    padding-left: 3px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #filter_week {
        width: 100% !important;
        margin-bottom: 15px;
    }

}

.line_run_template .col-form-label {
    width: 10px;
    text-align: center;
}

#send_status_email {
    margin-left: 10px;
}



@media only screen and (min-width: 768px) {
    .sec-send-email {
        position: absolute;
    }

    td select.e_reservation_status {
        width: 100%;
        display: block;
    }
}

@media only screen and (min-width: 1448px) {
    .sec-send-email {
        display: inline;
        position: relative;
    }

    td select.e_reservation_status {
        width: 70%;
        display: inline;
    }
}

.line_run_card table tr td div.table-bulk-action .btn {
    background-color: #5d59a6;
    border-color: #5d59a6;
    color: #fff;
}

.line_run_card table tr td div.table-bulk-action select {
    padding: .5rem 1rem;
    line-height: 1.5;
    height: calc(1.5em + 1rem + 2px);
}

.line_run_card table div.table-bulk-action .btn i {
    color: #fff !important;
}

.line_run_card table div.table-bulk-action {
    margin: 10px 0px;
}

.is-invalid .invalid-feedback,
.is-valid .valid-feedback {
    display: inline-block;
}

/* Override Select2 default styling */
.select2-container .select2-selection--single {
    display: inline-block !important;
    width: 100% !important;
    height: calc(1.5em + 1.3rem + 2px) !important;
    padding: 0.65rem 0.70rem 0.65rem 1rem !important;
    font-size: 1rem !important;
    font-weight: 400;
    /*line-height: 1.5 !important;*/
    color: #3F4254;
    background: #ffffff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%233F4254' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) right 1rem center / 8px 10px no-repeat !important;
    border: 1px solid #E4E6EF !important;
    border-radius: 0.42rem !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075) !important;
    appearance: none !important;
}


/* Override focus state */
.select2-container .select2-selection--single:focus {
    border-color: #007bff !important;
    outline: none !important;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5) !important;
}

/* Override Select2 placeholder text */
.select2-container .select2-selection--single .select2-selection__placeholder {
    color: #6c757d !important; /* Change to desired placeholder color */
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__clear {
    right: 24px !important;
}

/* Override selected option text */
.select2-container .select2-selection--single .select2-selection__rendered {
    color: #3F4254 !important;
    font-weight: 400 !important;
    line-height: 3px !important;
    padding-left: 0px !important;
    padding-right: 20px;
}

/* Override dropdown */
.select2-container .select2-dropdown {
    border: 1px solid #E4E6EF !important;
    border-radius: 0.42rem !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) !important;
}

/* Override dropdown options */
.select2-container .select2-results__option {
    padding: 0.65rem !important;
    font-size: 1rem !important;
    color: #3F4254 !important;
}

/* Override hover state */
.select2-container .select2-results__option--highlighted {
    background-color: #007bff !important;
    color: white !important;
}

/* Override selected option */
.select2-container .select2-results__option[aria-selected="true"] {
    background-color: #E4E6EF !important;
    color: #3F4254 !important;
}
