.loginbg {
    background: url(../../images/loginbg.png) no-repeat center top;
    background-size: cover;
}

.loginwrap {
    background: #fff;
    max-width: 600px;
    width: 100%;

    .authpagename {
        h3 {
            color: #05478E;
            font-size: 24px;
            font-weight: 600;
            padding-bottom: 10px;
        }

        h5 {
            color: #9c9c9c;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 24px;
        }
    }
}

.form-control {
    border: 1px solid #e5e5e5;

    &:focus {
        border: 1px solid #b9b9b9;
    }
}

.btn {
    &.btn-primary {
        background: #05478E;
        border: 0;
        font-size: 16px;

        &:focus,
        &:hover {
            background: #0852a0;
        }
    }
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item.active>.page-link {
    background-color: #0852a0;
}

.btn.btn-primary:hover:not(.btn-text):not(:disabled):not(.disabled),
.btn.btn-primary:focus:not(.btn-text),
.btn.btn-primary.focus:not(.btn-text) {
    color: #FFFFFF;
    background-color: #0852a0;
    border-color: #0852a0;
}

.loginleft {
    background: url(../../images/loginimg.png) no-repeat left center;
    background-size: cover;
    display: flex;
    align-items: center;

    .logincontent {
        max-width: 50%;
        text-align: left;
        padding: 32px;

        .form-control {
            padding: 24px 16px;


        }

        h3 {
            color: #05478E;
            font-size: 32px;
            font-weight: 600;
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        p {
            font-size: 18px;
            color: #343434;
            margin: 0;
        }

    }
}

.logo {
    font-size: 52px;
    font-weight: bold;
    background-image: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
    color: transparent;
    background-clip: text;
    display: inline-flex;
}

.form-group label.customlbl {
    font-weight: bold;
}

.videoswrp {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}


.aside.aside-left {
    background-color: #fff;
    border-right: 1px solid #ededed;

    .brand {
        background-color: #fff;
    }

    .aside-menu {
        background-color: #fff;
    }

    .aside-menu .menu-nav>.menu-item>.menu-heading .menu-text,
    .aside-menu .menu-nav>.menu-item>.menu-link .menu-text {
        color: #343434;
    }

    .aside-menu .menu-nav>.menu-item.menu-item-active>.menu-heading,
    .aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link {
        background-color: #05478E;
    }

    .aside-menu .menu-nav>.menu-item.menu-item-active>.menu-heading .menu-text,
    .aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link .menu-text {
        color: #ffffff;
    }

    .aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading,
    .aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link {
        background-color: #05478E;
    }


}

.aside-minimize:not(.aside-minimize-hover) .aside {
    .brand {
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        padding-top: 44px;
        height: auto;
    }
}

@media (min-width: 992px) {
    .aside-fixed .aside {
        position: relative;

        z-index: 98;
    }

    #kt_wrapper {
        padding-left: 0;
    }

    .aside-fixed.header-fixed.aside-minimize.aside-minimize-hover .header {
        left: 265px;
    }
}

@media screen and (max-width: 991px) {
    .loginleft {
        display: none;
    }

    .loginwrap {
        max-width: 100%;
        border-radius: 16px;
    }

    .login {
        padding: 16px;
    }
}