::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #094e8f; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #094e8f; }

/* Firefox */
::-moz-scrollbar {
  width: 6px;
  height: 6px; }

::-moz-scrollbar-track {
  background: #f1f1f1; }

::-moz-scrollbar-thumb {
  background: #094e8f; }

::-moz-scrollbar-thumb:hover {
  background: #094e8f; }

.loginbg {
  background: url(../../images/loginbg.png) no-repeat center top;
  background-size: cover; }

.loginwrap {
  background: #fff;
  max-width: 600px;
  width: 100%; }
  .loginwrap .authpagename h3 {
    color: #05478E;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px; }
  .loginwrap .authpagename h5 {
    color: #9c9c9c;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px; }

.form-control {
  border: 1px solid #e5e5e5; }
  .form-control:focus {
    border: 1px solid #b9b9b9; }

.btn.btn-primary {
  background: #05478E;
  border: 0;
  font-size: 16px;
  display: inline-flex;
  align-items: center; }
  .btn.btn-primary:focus, .btn.btn-primary:hover {
    background: #0852a0; }
  .btn.btn-primary.btn-sm {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: normal !important; }
.btn.btn-secondary {
  display: inline-flex;
  align-items: center; }

.table-group-actions {
  display: flex;
  align-items: center;
  gap: 10px; }
  .table-group-actions label {
    margin: 0; }

.dataTables_wrapper .dataTables_paginate .pagination .page-item.active > .page-link {
  background-color: #0852a0; }

.btn.btn-primary:hover:not(.btn-text):not(:disabled):not(.disabled),
.btn.btn-primary:focus:not(.btn-text),
.btn.btn-primary.focus:not(.btn-text) {
  color: #FFFFFF;
  background-color: #0852a0;
  border-color: #0852a0; }

.loginleft {
  background: url(../../images/loginimg.png) no-repeat left center;
  background-size: cover;
  display: flex;
  align-items: center; }
  .loginleft .logincontent {
    max-width: 50%;
    text-align: left;
    padding: 32px; }
    .loginleft .logincontent .form-control {
      padding: 24px 16px; }
    .loginleft .logincontent h3 {
      color: #05478E;
      font-size: 32px;
      font-weight: 600;
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .loginleft .logincontent p {
      font-size: 18px;
      color: #343434;
      margin: 0; }

.logo {
  font-size: 52px;
  font-weight: bold;
  background-image: linear-gradient(90deg, #090979 0%, #00d4ff 100%);
  color: transparent;
  background-clip: text;
  display: inline-flex; }

.form-group label.customlbl {
  font-weight: bold; }

.videoswrp {
  display: flex;
  gap: 16px;
  flex-wrap: wrap; }

.aside.aside-left {
  background-color: #fff;
  border-right: 1px solid #ededed; }
  .aside.aside-left .brand {
    background-color: #fff; }
    .aside.aside-left .brand .brand-logo h1 {
      font-size: 52px;
      font-weight: bold;
      background-image: linear-gradient(90deg, #090979 0%, #00d4ff 100%);
      color: transparent;
      background-clip: text;
      display: inline-flex;
      margin: 0; }
  .aside.aside-left .aside-menu {
    background-color: #fff; }
    .aside.aside-left .aside-menu .menu-nav {
      padding-top: 0; }
  .aside.aside-left .aside-menu .menu-nav > .menu-item > .menu-link {
    border-bottom: 1px solid #f3f3f3; }
  .aside.aside-left .aside-menu .menu-nav > .menu-item > .menu-heading .menu-text,
  .aside.aside-left .aside-menu .menu-nav > .menu-item > .menu-link .menu-text {
    color: #343434; }
  .aside.aside-left .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading,
  .aside.aside-left .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link {
    background-color: #05478E; }
  .aside.aside-left .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-text,
  .aside.aside-left .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-text {
    color: #ffffff; }
  .aside.aside-left .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading,
  .aside.aside-left .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link {
    background-color: #05478E; }

.aside-minimize:not(.aside-minimize-hover) .aside .brand {
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  padding-top: 44px;
  height: auto; }

.trainingvideowrap {
  display: flex;
  gap: 32px; }
  .trainingvideowrap .videosidebar {
    background-color: #f7fbff;
    width: 100%;
    max-width: 360px;
    padding: 16px;
    border-radius: 10px;
    overflow: auto;
    height: 100%;
    max-height: calc(100vh - 272px); }
    .trainingvideowrap .videosidebar p {
      margin: 0;
      font-size: 14px; }
    .trainingvideowrap .videosidebar h5 {
      font-weight: 600;
      font-size: 18px; }
    .trainingvideowrap .videosidebar ul {
      margin: 0;
      padding: 0; }
      .trainingvideowrap .videosidebar ul li {
        display: flex;
        gap: 16px;
        align-items: flex-start;
        margin-bottom: 16px; }
        .trainingvideowrap .videosidebar ul li .vidimg {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          border: 1px solid #e7ecf1;
          padding: 0;
          width: 100px;
          height: 100px;
          background: #fff; }
          .trainingvideowrap .videosidebar ul li .vidimg img {
            width: 100%;
            height: auto; }
  .trainingvideowrap .bigvideo {
    width: 100%; }
    .trainingvideowrap .bigvideo h3 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 10px; }
    .trainingvideowrap .bigvideo .videobdr {
      border: 1px solid #e7ecf1; }
  .trainingvideowrap .quizbtnswrp {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #e7ecf1;
    display: flex;
    justify-content: flex-end; }
  .trainingvideowrap .quizitemswrap {
    display: flex;
    gap: 12px;
    flex-direction: column; }
    .trainingvideowrap .quizitemswrap .quiz h5 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 5px; }
    .trainingvideowrap .quizitemswrap .quiz label {
      display: inline-flex;
      align-items: center;
      gap: 7px;
      margin-right: 10px;
      font-size: 16px; }

@media (min-width: 992px) {
  .aside-fixed .aside {
    position: relative;
    z-index: 98; }

  #kt_wrapper {
    padding-left: 0; }

  .aside-fixed.header-fixed.aside-minimize.aside-minimize-hover .header {
    left: 265px; } }
@media screen and (max-width: 991px) {
  .loginleft {
    display: none; }

  .loginwrap {
    max-width: 100%;
    border-radius: 16px; }

  .login {
    padding: 16px; } }

/*# sourceMappingURL=global.css.map */
